* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  background-color: #222;
  box-shadow: 0 0 10px #ccc;
  border-radius: 8px;
  padding: 30px 20px;
}
.calc__brand {
  color: var(--white);
  text-align: end;
}
.calc__display {
  height: 27px;
  text-align: end;
  background-color: var(--gray);
  padding: 4px;
}
.calc__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calc__button {
  background-color: #9000ff;
  font-size: 1rem;
  border: 0;
  width: 30px;
  height: 30px;
}

.calc__button:hover {
  background-color: #7601d1;
}
