* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px var(--gray);
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.calc {
  background-image: linear-gradient(var(--green), #07d7b8);
  box-shadow: 0 0 10px var(--gray);
  border-radius: 8px;
  height: 530px;
}
.calc__display {
  font-size: 3rem;
  font-weight: bold;
  text-align: end;
  padding: 1rem 1.5rem;
}
.calc__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.calc__button {
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  padding: 1.5rem;
}

.calc__button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.calc__button:active {
  background-color: rgba(0, 0, 0, 0.1);
}
